/**************************************************
 * colors.scss                                    *
 *                                                *
 * The colors used in the app.                    *
 **************************************************/


$white: #FFFFFF;
$ultra-light-gray: #F5F5F5;
$ultra-light-gray2: #ececec;
$light-gray: #E5E5E5;
$gray: #ababab;
$dark-gray: #565656;
$black: #000000;
$transparent: rgba(255,255,255,0);
$red: #D9534F;
$light-blue: #64addb;
$blue: #3878CC;
$green: #43AC6A;
$yellow: #FFE020;
